@import "../../responsive.scss";

.home {
    background-image: url('bailey-anselme-Bkp3gLygyeA-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    background-size: 150%;
    min-height: 500px;
    display: flex;
    height: 50%;

    .text-container {
        color: white;
        padding: 35px;
        // border-radius: 10px;
        //text-align: left;

        .wrapper {
            padding-right: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 50px;
            height: 100%;

            @include lg {
                padding-right: 50px;
            }

            @include md {
                padding: 0;
            }

            @include sm {
                justify-content: flex-start;
            }

            .title {
                //text-shadow: 2px 2px 2px black;
                text-shadow: 3px 2px 4px black;
                font-size: 64px;

                @include lg {
                    font-size: 48px;
                }
            }

            .boxes {
                display: flex;
                justify-content: space-between;
                gap: 20px;

                @include sm {
                    display: none;
                }

                h1 {
                    font-size: 36px;

                    @include lg {
                        font-size: 32px;
                    }
                }

                h2 {
                    font-size: 18px;
                    font-weight: 300;
                }
            }
        }

        /* h1 {
            text-align: left;
            display: inline-block;
            border-radius: 3px;
            margin-bottom: 20px;
            margin-top: 50px;
        }*/
    }

    @include md {
        background-size: 150%;
        width: 770px;
        height: 600px;
    }

    @include sm {
        background-size: 400%;
        width: 100%;
        height: 700px;
    }


}