@import "../../responsive.scss";

.searchBar {

    .type {
        button {
            padding: 16px 36px;
            border: 1px solid #999;
            cursor: pointer;
            background-color: white;
            text-transform: capitalize;
            border-bottom: none;

            &.active {
                background-color: black;
                color: white;
            }

            &:first-child {
                border-top-left-radius: 5px;
                /*border-top-right-radius: unset;
                border-bottom-right-radius: unset;
                border-bottom-left-radius: unset;*/
                border-left: none;
            }

            &:last-child {
                border-top-right-radius: 5px;
                /*border-bottom-right-radius: unset;
                border-bottom-left-radius: unset;*/
                border-right: none;
            }
        }
    }

    form {
        border: 1px solid #99999900;
        display: flex;
        justify-content: space-between;
        height: 60px;

        @include sm {
            flex-direction: column;
            border: none;
        }

        input {
            border: none;
            padding: 0 10px;
            width: 200px;
            flex: 1; //specifies how much of the available space within a container an element should take up,
            //relative to the other elements.

            &:first-child {
                border-bottom-left-radius: 5px;
                border-right: none;
            }

            @include lg {
                padding: 0px 5px;

                &:nth-child(2),
                &:nth-child(3) {
                    width: 140px;
                }
            }

            @include md {
                width: 200px;



                &:nth-child(2),
                &:nth-child(3) {
                    width: 200px;
                }


            }

            @include sm {
                width: auto;
                padding: 20px;
                border: 1px solid #999;

                &:first-child {
                    border-bottom-left-radius: unset;
                    border-top-right-radius: 5px;
                }

                &:nth-child(2),
                &:nth-child(3) {
                    width: auto;
                }


            }
        }

        button {
            width: 120px;
            border: none;
            cursor: pointer;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            background-color: #508d4e;



            @include md {
                width: 100px;
            }

            @include sm {
                padding: 10px;
                width: auto;
                border-top-right-radius: unset;
                border-bottom-left-radius: 5px;
            }

            img {
                width: 35px;
                height: 35px;
            }

        }
    }


}