@import "../../responsive.scss";


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;

    a {
        transition: all 0.4s ease;

        @include sm {
            display: none;
        }

        &:hover {
            scale: 1.05;
            color: #95D2B3;
        }
    }

    .left {
        flex: 3;
        display: flex;
        align-items: center;
        gap: 50px;

        .logo {
            font-weight: bolder;
            font-size: 20px;
            display: flex;
            gap: 10px;
            align-items: center;
            padding: 7px 7px;

            span {

                @include md {
                    display: none;
                }

                @include sm {
                    display: initial;
                }
            }
        }

        @include md {
            background-color: transparent;
        }

    }

    .right {
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;

        a {
            padding: 7px 12px;
            margin: 20px;
            margin-right: -15px;
        }

        @include md {
            padding: 7px 11px;
            margin: 25px;
            background-color: transparent;
        }


    }

    .register {
        background-color: #508d4e;
        border-radius: 4px;
        color: white;

    }

    .menuIcon {
        display: none;
        z-index: 999; //any number > 1 , so it always stays at top like photoshop layer

        img {
            width: 36px;
            height: auto;
            cursor: pointer;

        }

        @include sm {
            display: inline;
        }
    }

    .menu {
        position: absolute;
        background-color: #d6efd8;
        color: black;
        height: 100vh;
        width: 45%;
        top: 0;
        right: -50%;
        transition: all 0.7s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: large;

        &.active {
            right: 0;
        }


        @include sm {
            a {
                display: initial;
            }
        }
    }
}